In [1]:
from data_handling import *

In [2]:
data_dict, location_df, time_vec = load_data(300,320,crop=((-30,30),(-30,30),(-30,30)))

In [3]:
tracerB_df = data_df(data_dict,'TracerBackground')
tracerB_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.510631,0.510584,0.510498,0.510378,0.510226,0.510037,0.509820,0.509596,0.509380,0.509181,...,0.508854,0.508735,0.508651,0.508599,0.508575,0.508575,0.508593,0.508625,0.508666,0.508697
1,0.511873,0.511649,0.511395,0.511127,0.510847,0.510554,0.510247,0.509928,0.509596,0.509259,...,0.508626,0.508354,0.508110,0.507893,0.507706,0.507548,0.507422,0.507330,0.507274,0.507248
2,0.509588,0.509669,0.509718,0.509741,0.509743,0.509727,0.509697,0.509657,0.509613,0.509577,...,0.509562,0.509580,0.509612,0.509658,0.509714,0.509776,0.509842,0.509904,0.509959,0.510003
3,0.511528,0.511227,0.510908,0.510570,0.510219,0.509858,0.509492,0.509129,0.508773,0.508429,...,0.507804,0.507525,0.507271,0.507045,0.506854,0.506711,0.506615,0.506557,0.506530,0.506521
4,0.511146,0.510504,0.509859,0.509202,0.508539,0.507880,0.507240,0.506622,0.506034,0.505493,...,0.504647,0.504369,0.504177,0.504052,0.503947,0.503872,0.503839,0.503828,0.503869,0.504012